@{
    Layout = null;//removes the defaut design of asp.net core
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="" />
    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Document Title
    ============================================= -->
    <title>Medical Manipulations</title>
    <!-- Favicon
    ============================================= -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="stretched sticky-responsive-menu">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix light-background">
        <!-- Header
        ============================================= -->
        <header id="header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="../Patient/patientHomePage.html" class="standard-logo" data-dark-logo="../../images/icons/molar-inside-a-shield-green.png"><img src="../../images/icons/molar-inside-a-shield-green.png" alt="Denstist Logo"></a>
                        <a href="../Patient/patientHomePage.html" class="retina-logo" data-dark-logo="../../images/icons/molar-inside-a-shield-green.png"><img src="../../images/icons/molar-inside-a-shield-green.png" alt="Denstist Logo"></a>
                    </div>
                    <!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">
                        <ul>
                            <li class="current">
                                <a href="../Patient/patientHomePage.html"><div>My Profile</div></a>
                            </li>
                            <li class="current">
                                <a href="../Patient/patientFindDoctor.html"><div>Find a Doctor</div></a>
                            </li>
                            <li class="current">
                                <a href="../Patient/patientAppointments.html"><div>My Appointments</div></a>
                            </li>
                            <li class="accent-background">
                                <a href="../Patient/patientMedicalManipulationsHistory.html"><div>Medical Manipulations History</div></a>
                            </li>
                            <li class="current">
                                <a href="loggedOut.html"><div><i class="icon-line2-logout"></i>Log Out</div></a>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>
            </div>
        </header><!-- #header end -->
    </div><!-- #wrapper end -->
    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="actualContent">
                    <div class="row">
                        <div class="col-12 bottommargin">
                            <div class="row team team-list clearfix">
                                <div class="team-image col-sm-12 col-md-6 col-lg-6">
                                    <img class="rounded-circle center-image-user" style="width: 150px;" src="../../images/icons/female-dentist.png" alt="Male User">
                                </div>
                                <div class="team-desc col-sm-12 col-md-6 col-lg-6">
                                    <div class="user-names">
                                        <h4 class="pr-2" id="firstName">FirstNameDoctor</h4>
                                        <h4 id="lastName">LastNameDoctor</h4>
                                        <span id="gender">Female</span>
                                    </div>
                                    <div class="mt-4">
                                        <h4>Date of Manipulation: <span id="manipualtionDate">Date.Date.Date</span></h4>
                                    </div>
                                    <div class="topmargin-sm nobottommargin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider divider-center"><i class="icon-line-clipboard"></i></div>
                    <h4>Information about the manipulation:</h4>
                    <div class="bottommargin-sm">
                        <div id="manipulationInformation">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatum, ipsa laborum nobis quasi doloremque perspiciatis qui sunt sed soluta quis provident incidunt, est ut accusamus placeat inventore sit numquam? Similique, inventore voluptatem enim consectetur optio explicabo porro consequatur tempora necessitatibus, hic reiciendis aperiam quis exercitationem atque libero doloremque suscipit.
                        </div>
                    </div>
                    <div class="divider divider-center"><i class="icon-line-clipboard"></i></div>
                    <h4>Rating the dentist:</h4>
                    <h4>Final grade: <span id="finalGrade">SomethingSomething</span></h4>
                    <h4>Comment:</h4>
                    <div id="commentOnPatient" class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis autem dolorem ducimus possimus dolor ipsa sunt, est quaerat deleniti corporis.
                    </div>
                    <a href="../Patient/patientMedicalManipulationsHistory.html" id="submit" class="button button-3d button-rounded accent-background">
                        <i class="icon-line-reply"></i>Back
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="../../js/functions.js"></script>
</body>
</html>