@{
    Layout = null;//removes the defaut design of asp.net core
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" 
		  rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/FrontEnd/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/FrontEnd/style.css" type="text/css" />
    <link rel="stylesheet" href="~/FrontEnd/css/animate.css" type="text/css" />

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="~/FrontEnd/css/components/bs-select.css" type="text/css" />
    <link rel="stylesheet" href="~/FrontEnd/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon
    ============================================= -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/FrontEnd/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FrontEnd/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FrontEnd/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FrontEnd/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FrontEnd/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FrontEnd/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FrontEnd/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FrontEnd/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FrontEnd/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FrontEnd/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FrontEnd/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FrontEnd/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FrontEnd/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FrontEnd/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Document Title
    ============================================= -->
    <title>Some additional information</title>
</head>
<body class="stretched">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap nopadding">
                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; 
					background: url('/FrontEnd/images/forgottenPassBackground.jpg') center center no-repeat; background-size: cover;"></div>
                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container-fluid vertical-middle divcenter clearfix">
                        <div class="center">
                            <a href="/Patient/index.cshtml"><img src="~/FrontEnd/images/icons/molar-inside-a-shield.png" alt="Dentist system logo"></a>
                        </div>
                        <div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                            <div class="card-body" style="padding: 40px;">
                                <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                                    <div id="formWrapper">
                                        <h3>Greetings and thank you for signing up for our system! We would require some additional information to complete your registration!"</h3>
                                        <div class="col_full">
                                            <label>Gender</label>
                                            <select class="selectpicker col-12 " style="height: calc(2.25rem + 2px); 
												border-radius: 3px; margin-bottom:10px;" title="Please choose">
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                            <label>Unique citizenship number (EGN)</label>
                                            <input type="text" value="" class="form-control" />
                                            <label>Address</label>
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="center">
                                        <h3 id="message" class="text-success"></h3>
                                    </div>
                                    <div class="col_full nobottommargin">
                                        <a class="button button-3d button-black col-12 center" id="btnContinue">Continue</a>
                                        <a class="button button-3d button-black col-12 center"
										   href="/Patient/patientHomePage/patientHomePage.cshtml" id="btnToHome" style="display:none;">
											To your home page</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #content end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script src="~/FrontEnd/js/jquery.js"></script>
    <script src="~/FrontEnd/js/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/FrontEnd/js/functions.js"></script>
    <!-- Bootstrap Select Plugin -->
    <script src="~/FrontEnd/js/components/bs-select.js"></script>

    <!-- After a successfull data entry
    ============================================= -->
    <script>
        $(document).ready(function () {
            $("#btnContinue").click(function () {
                $("#message").text("Thank you! You can access your profile now!");
                $("#btnContinue").css("display", "none");
                $("#btnToHome").css("display", "inline-block");
                $("#formWrapper").css("display", "none");
            })

        });

    </script>
</body>
</html>
