@{
    Layout = null;//removes the defaut design of asp.net core
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="" />
    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Document Title
    ============================================= -->
    <title>Medical Manipulations</title>
    <!-- Favicon
    ============================================= -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="stretched sticky-responsive-menu">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix light-background">
        <!-- Header
        ============================================= -->
        <header id="header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="../Patient/patientHomePage.html" class="standard-logo" data-dark-logo="../../images/icons/molar-inside-a-shield-green.png"><img src="../../images/icons/molar-inside-a-shield-green.png" alt="Denstist Logo"></a>
                        <a href="../Patient/patientHomePage.html" class="retina-logo" data-dark-logo="../../images/icons/molar-inside-a-shield-green.png"><img src="../../images/icons/molar-inside-a-shield-green.png" alt="Denstist Logo"></a>
                    </div>
                    <!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">
                        <ul>
                            <li class="current">
                                <a href="../Patient/patientHomePage.html"><div>My Profile</div></a>
                            </li>
                            <li class="current">
                                <a href="../Patient/patientFindDoctor.html"><div>Find a Doctor</div></a>
                            </li>
                            <li class="current">
                                <a href="../Patient/patientAppointments.html"><div>My Appointments</div></a>
                            </li>
                            <li class="accent-background">
                                <a href="../Patient/patientMedicalManipulationsHistory.html"><div>Medical Manipulations History</div></a>
                            </li>
                            <li class="current">
                                <a href="loggedOut.html"><div><i class="icon-line2-logout"></i>Log Out</div></a>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>
            </div>
        </header><!-- #header end -->
    </div><!-- #wrapper end -->
    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <h4>To be rated</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Doctor</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11.10.2017</td>
                                <td>8:00-8:30</td>
                                <td>Doctor Doctor</td>
                                <td>
                                    <a href="patientRateAppointment.html" id="submit" class="btn aviableBtn button-rounded m-0 accent-background light-text button-mini">
                                        <i class="icon-line-open"></i><span>Rate appointment</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>11.10.2017</td>
                                <td>8:00-8:30</td>
                                <td>Doctor Doctor</td>
                                <td>
                                    <a href="patientRateAppointment.html" id="submit" class="btn aviableBtn button-rounded m-0 accent-background light-text button-mini">
                                        <i class="icon-line-open"></i><span>Rate appointment</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>11.10.2017</td>
                                <td>8:00-8:30</td>
                                <td>Doctor Doctor</td>
                                <td>
                                    <a href="patientRateAppointment.html" id="submit" class="btn aviableBtn button-rounded m-0 accent-background light-text button-mini">
                                        <i class="icon-line-open"></i><span>Rate appointment</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider divider-center"><i class="icon-time"></i></div>

                <h4>Past</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Doctor</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11.10.2017</td>
                                <td>8:00-8:30</td>
                                <td>Doctor Doctor</td>
                                <td>
                                    <a href="../../pages/Patient/patientCheckDocument.html" class="button button-3d  button-small button-rounded button-dirtygreen"> <i class="icon-folder-check"></i> Check Manipulation Document</a>
                                </td>
                            </tr>
                            <tr>
                                <td>11.10.2017</td>
                                <td>8:00-8:30</td>
                                <td>Doctor Doctor</td>
                                <td>
                                    <a href="../../pages/Patient/patientCheckDocument.html" class="button button-3d  button-small button-rounded button-dirtygreen"> <i class="icon-folder-check"></i> Check Manipulation Document</a>
                                </td>
                            </tr>
                            <tr>
                                <td>11.10.2017</td>
                                <td>8:00-8:30</td>
                                <td>Doctor Doctor</td>
                                <td>
                                    <a href="../../pages/Patient/patientCheckDocument.html" class="button button-3d  button-small button-rounded button-dirtygreen"> <i class="icon-folder-check"></i> Check Manipulation Document</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="../../js/functions.js"></script>
</body>
</html>