<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon
    ============================================= -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/FrontEnd/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FrontEnd/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FrontEnd/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FrontEnd/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FrontEnd/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FrontEnd/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FrontEnd/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FrontEnd/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FrontEnd/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FrontEnd/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FrontEnd/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FrontEnd/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FrontEnd/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FrontEnd/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Document Title
    ============================================= -->
    <title>Dentist System</title>
</head>
    <body>
        <div id="wrapper" class="clearfix">

            <!-- Content
============================================= -->
            <a asp-area="Identity" asp-page="/Account/Login" id="patient">
                <div class="split left grow">
                    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('~/FrontEnd/images/homepageBackground.jpg') center center no-repeat; background-size: cover;"></div>
                    <div class="overlay patient"></div>
                    <div class="centered">
                        <img src="~/FrontEnd/images/icons/users.png" alt="Avatar user">
                        <h2>Patient</h2>
                        <a class="button button-3d button-black col-12 center accent-background" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                </div>
            </a>
            <a asp-area="Identity" asp-page="/Account/Login" id="dentist">
                <div class="split right grow">
                    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('~/FrontEnd/images/bg1.jpg') center center no-repeat; background-size: cover;"></div>
                    <div class="overlay dentist"></div>
                    <div class="centered">
                        <img src="~/FrontEnd/images/icons/dentist%20(4).png" alt="Avatar dentist">
                        <h2>Dentist</h2>
                        <a class="button button-3d button-black col-12 center dentist-accent" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                </div>
            </a>
        </div>

        <!-- External JavaScripts
============================================= -->
        <script src="~/FrontEnd/js/jquery.js"></script>
        <script src="~/FrontEnd/js/plugins.js"></script>

        <!-- Footer Scripts
============================================= -->
        <script src="~/FrontEnd/js/functions.js"></script>
    </body>
</html>