@page
@model RegisterModel
@{
    ViewData["Title"] = "Patient Registration";
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="CSCB024Web" />
    <!-- Favicon
    ============================================= -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/FrontEnd/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FrontEnd/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FrontEnd/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FrontEnd/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FrontEnd/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FrontEnd/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FrontEnd/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FrontEnd/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FrontEnd/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FrontEnd/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FrontEnd/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FrontEnd/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FrontEnd/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FrontEnd/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <title>Patient Registration</title>
</head>
<body class="stretched">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap nopadding">
                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;
					background: url('/FrontEnd/images/registerBackground.jpg') center center no-repeat; background-size: cover;"></div>
                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container-fluid vertical-middle divcenter clearfix">
                        <div class="center">
                            <a  asp-area="Identity" asp-page="/Account/Login"><img src="~/FrontEnd/images/icons/molar-inside-a-shield.png" alt="Dentist system logo"></a>
                        </div>
                        <div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                            <div class="card-body" style="padding: 40px;">


                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <h3>Create your account!</h3>
                                    <div class="form-group">
                                        <label asp-for="Input.FirstName"></label>
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.LastName"></label>
                                        <input asp-for="Input.LastName" class="form-control" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="button button-3d button-black col-12 center">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #content end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script src="~/FrontEnd/js/jquery.js"></script>
    <script src="~/FrontEnd/js/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/FrontEnd/js/functions.js"></script>
    <!-- After a successfull registration
    ============================================= -->
    <script>$(document).ready(function () {
            $("#btnRegister").click(function () {
                $("#message").text("Successful registration!");
                $("#btnRegister").css("display", "none");
                $("#btnToHome").css("display", "inline-block");
                $("#formWrapper").css("display", "none");
            })

        });</script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
