<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="CSCB024" content="Dentist password reset" />

        <!-- Stylesheets
============================================= -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/FrontEnd/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/FrontEnd/dentistStyle.css" type="text/css" />
        <link rel="stylesheet" href="~/FrontEnd/css/animate.css" type="text/css" />

        <link rel="stylesheet" href="~/FrontEnd/css/responsive.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Favicon
============================================= -->

        <link rel="apple-touch-icon" sizes="57x57" href="~/FrontEnd/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/FrontEnd/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/FrontEnd/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/FrontEnd/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/FrontEnd/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/FrontEnd/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/FrontEnd/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/FrontEnd/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/FrontEnd/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="~/FrontEnd/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/FrontEnd/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/FrontEnd/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/FrontEnd/images/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="~/FrontEnd/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


        <!-- Document Title
============================================= -->
        <title>Forgotten Password</title>

    </head>

    <body class="stretched">

        <!-- Document Wrapper
============================================= -->
        <div id="wrapper" class="clearfix">

            <!-- Content
============================================= -->
            <section id="content">

                <div class="content-wrap nopadding">

                    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('~/FrontEnd/images/bg8.jpg') center center no-repeat; background-size: cover;"></div>

                    <div class="section nobg full-screen nopadding nomargin">
                        <div class="container-fluid vertical-middle divcenter clearfix">

                            <div class="center">
                                <a href="/Dentist/Index/"><img src="~/FrontEnd/images/icons/molar-inside-a-shield.png" alt="Dentist system logo"></a>
                            </div>

                            <div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                                <div class="card-body" style="padding: 40px;">
                                    <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                                        <div id="formWrapper">
                                            <h3>Forgotten password? Don't worry!</h3>
                                            <div class="col_full">
                                                <label>Email:</label>
                                                <input type="email" value="" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="center">
                                            <h3 id = "message" class="text-success"></h3>
                                        </div>
                                        <div class="col_full nobottommargin">
                                            <a class="button button-3d button-black col-12 center" id="btnReset">Resend password</a>
                                            <a class="button button-3d button-black col-12 center" href="/Dentist/index/" id="btnToHome"style="display:none;">To the home page</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section><!-- #content end -->

        </div><!-- #wrapper end -->

        <!-- Go To Top
============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>

        <!-- External JavaScripts
============================================= -->
        <script src="~/FrontEnd/js/jquery.js"></script>
        <script src="~/FrontEnd/js/plugins.js"></script>

        <!-- Footer Scripts
============================================= -->
        <script src="~/FrontEnd/js/functions.js"></script>

        <!-- After a successfull reset
============================================= -->
        <script>
            $( document ).ready(function() {
                $("#btnReset").click(function(){
                    $("#message").text("An email for a password reset has been send!");
                    $("#btnReset").css("display","none");
                    $("#btnToHome").css("display","inline-block");
                    $("#formWrapper").css("display","none");
                })

            });

        </script>

    </body>
</html>
